* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* NAVBAR */

.navbar {
  background: #A45836;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.navbar-logo img {
  width: 150px;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  margin-right: 2rem;
  align-items: center;
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.nav-links:hover {
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 30vh;
    position: absolute;
    top: 200px;
    left: 40%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    visibility: hidden;
  }

  .nav-links:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
    padding: 8px 10px
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .menu-item {
    visibility: hidden;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    visibility: hidden;
  }
}

/* HOME MENU NOVO */

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.openNav {
  font-size: 30px;
  cursor: pointer;
}

#hamburguerMenu {
  display: none;
}

@media screen and (max-width: 960px) {
  #hamburguerMenu {
    display: block;
    color: #fff;
  }
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* LOGIN */

.login-form {
  background-color: #EFEFEF;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  padding: 50px 0;
  padding-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.login-form h1 {
  color: #423839;
  font-size: 25px;
}

form {
  margin: 30px auto;
  text-align: center;
  width: 80vw;
}

form label {
  color: black;
  display: inline-block;
  margin-bottom: 20px;
  text-align: left;
  width: 100%;
  line-height: 50px;
  font-size: 15px;
  font-weight: bolder;
}

form input,
.form-button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 0px;
}

.form-button {
  background: #423839;
  border: 1px solid #423839;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: bolder;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  width: 25vw;
  padding-top: 17px;
}

.form-button:hover {
  background: #6d5d5e;
  color: #fff;
  transition: 0.3s ease background;
}

.login-button {
  background: #A45836;
  border: 1px solid #A45836;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: bolder;
  padding: 17px 16px;
  margin-top: 15px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  width: 25vw;
}

.login-button:hover {
  background: #da703f;
  color: #fff;
  transition: 0.3s ease background;
}

/* SIGN UP */

.signup-form {
  background-color: #EFEFEF;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  padding: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.signup-form h1 {
  color: #423839;
  font-size: 25px;
}

/* FOOTER */

.footer {
  background-color: #423839;
  color: white;
  text-align: right;
}

.footer p {
  padding: 5px 10px 5px;
  font-size: 12px;
}

/* HOME */

.home-titles {
  color: #A45836;
  font-size: 30px;
  margin: 20px;
}

/* CITY PAGE */

.fav-btn img {
  width: 40px;
}

.header-img {
  width: 100vw;
}

.citypage_namefav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.citypage_namefav h3 {
  color: #A45836;
}

.citypage_namefav h5 {
  color: #A45836;
  font-size: 15px;
  font-weight: 500;
}

.add-comment_btn {
  background-color: #A45836;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
}

.comments {
  color: #A45836;
}

.form-commentbox {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.form-commentbox label {
  text-align: center;
}

/* PROFILE */

.edit-profile {
  background-color: #A45836;
  color: white;
  padding: 8px 15px;
  text-decoration: none;
  border-radius: 5px;
}

.edit-profile:hover {
  background-color: #da703f;
}

.delete-profile {
  background-color: #423839;
  color: white;
  padding: 8px 15px;
  text-decoration: none;
  border-radius: 5px;
}

.delete-profile:hover {
  background-color: #6d5d5e;
}