* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* NAVBAR */

.navbar {
  background: #A45836;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.navbar-logo img {
  width: 150px;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  margin-right: 2rem;
  align-items: center;
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.nav-links:hover {
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 30vh;
    position: absolute;
    top: 200px;
    left: 40%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    visibility: hidden;
  }

  .nav-links:hover {
    background-color: #fff;
    color: #242424;
    border-radius: 0;
    padding: 8px 10px
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .menu-item {
    visibility: hidden;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    visibility: hidden;
  }
}

/* HOME MENU NOVO */

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.openNav {
  font-size: 30px;
  cursor: pointer;
}

#hamburguerMenu {
  display: none;
}

@media screen and (max-width: 960px) {
  #hamburguerMenu {
    display: block;
    color: #fff;
  }
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* LOGIN */

.login-form {
  background-color: #EFEFEF;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  padding: 50px 0;
  padding-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.login-form h1 {
  color: #423839;
  font-size: 25px;
}

form {
  margin: 30px auto;
  text-align: center;
  width: 80vw;
}

form label {
  color: black;
  display: inline-block;
  margin-bottom: 20px;
  text-align: left;
  width: 100%;
  line-height: 50px;
  font-size: 15px;
  font-weight: bolder;
}

form input,
.form-button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 4px;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 0px;
}

.form-button {
  background: #423839;
  border: 1px solid #423839;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: bolder;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  width: 25vw;
  padding-top: 17px;
}

.form-button:hover {
  background: #6d5d5e;
  color: #fff;
  transition: 0.3s ease background;
}

.login-button {
  background: #A45836;
  border: 1px solid #A45836;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: bolder;
  padding: 17px 16px;
  margin-top: 15px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  width: 25vw;
}

.login-button:hover {
  background: #da703f;
  color: #fff;
  transition: 0.3s ease background;
}

/* SIGN UP */

.signup-form {
  background-color: #EFEFEF;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  padding: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.signup-form h1 {
  color: #423839;
  font-size: 25px;
}

/* FOOTER */

.footer {
  background-color: #423839;
  color: white;
  text-align: right;
  width: 100%;
}

.footer p {
  padding: 5px 10px 5px;
  font-size: 12px;
}

/* HOME */

.home-titles {
  color: #A45836;
  font-size: 30px;
  margin: 20px;
}

.home-illustrations {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.home-illustrations img {
  width: 12vw;
  margin-top: 40px;
}

.home-illustrations p {
  font-size: 17px;
  color: #423839;
  font-weight: 500;
  margin-bottom: 40px;
}

.home-ilustration_each {
  text-align: center;
}

.home-footer_book {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  background-color: #a459369e;
  height: 70vh;
  margin-top: 30px;
  text-align: center;
}

.home-footer_book img {
  width: 30vw;
}

.home-footer_book h5 {
  color: white;
  font-size: 35px;
  font-weight: 300;
}

.home-footer_book h1 {
  color: white;
  font-size: 45px;
  padding-bottom: 30px;
}

.home-footer_text {
  align-items: center;
}

.home-footer_btn {
  background-color: white;
  color: #A45836;
  padding: 15px 25px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  .home-footer_book img {
    width: 270px;
    padding-top: 50px;
  }

  .home-footer_book h5 {
    font-size: 30px;
  }
}


/* CITY PAGE */

.fav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.fav-btn img {
  width: 60px;
  margin-right: 20px;
  margin-top: 20px;
}

.unfav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
}

.unfav-btn img {
  width: 60px;
  margin-right: 20px;
  margin-top: 20px;
}

.fav-btn {
  transition: all 0.8 ease-in-out;
}

.fav-btn:hover {
  transform: scale(1.15);
  transition: all 0.5 ease-in-out;
}

.header-img {
  width: 100vw;
}

.citypage_namefav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.city-home_container {
  width: 100vw;
}

.city-page_info {
  margin: 10px 20px;
}

.city-api-info {
  margin-right: 250px;
}

.city-api-info span {
  font-weight: 500;
}

.citypage_namefav h3 {
  color: #A45836;
}

.citypage_namefav h5 {
  color: #A45836;
  font-size: 15px;
  font-weight: 500;
}

.comments-city {
  margin-left: 20px;
  margin-top: 10px;
}

.add-comment_btn {
  background-color: #A45836;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
}

.comments {
  color: #A45836;
  margin-left: 20px;
  margin-top: 20px;
  padding-top: 10px;
}

.comment_section {
  background-color: #6d5d5e26;
  padding-bottom: 10px;
  border-bottom: 1px solid #A45836;
}

.form-commentbox {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  background-color: #6d5d5e26;
}

.form-commentbox label {
  text-align: center;
}

.comment-username {
  padding-left: 20px;
}

.city-edit_btn,
.city-delete_btn {
  padding: 6px 10px;
  border: none;
  border-radius: 10px;
  margin-right: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  cursor: pointer;
}

.city-edit_btn {
  background-color: #a4593648;
}

.city-delete_btn {
  background-color: #6d5d5e63;

}

/* NOVO CARD ITEM */

.city-card_cont {
  width: 40vw;
  margin-bottom: 40px;
  padding: 30px 10px;
  border-radius: 20px;
  background-color: #a459362a;
}

.citu-card_cont:hover {
  transform: scaleY(1.5);
}

.city-card_container {
  text-decoration: none;
  text-align: center;
}

.city-card_container img {
  width: 37vw;
  height: 47vh;
  border-radius: 20px;
}

.cards_item_text {
  color: #A45836;
  font-size: 22px;
  margin-left: 20px;
}

.city-home_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  text-decoration: none;
}

.card_icon-name {
  color: #A45836;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-right: 20px;
  padding-top: 10px;

}

.card-icon {
  width: 50px;
  height: 30px;
}

.city-card_cont {
  transition: all 0.5 ease-in-out;
}

.city-card_cont:hover {
  transform: scale(1.05);
  transition: all 0.5 ease-in-out;
}

.card_icon-100 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  align-content: center;
}

/* PROFILE */

.edit-profile {
  background-color: #A45836;
  color: white;
  padding: 6px 13px;
  text-decoration: none;
  border-radius: 5px;
  margin-right: 5px;
}

.edit-profile:hover {
  background-color: #da703f;
}

.delete-profile {
  background-color: #423839;
  color: white;
  padding: 9px 15px;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin-left: 5px;
}

.delete-profile:hover {
  background-color: #6d5d5e;
}

.profile-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.comment_profile {
  margin: 20px;
}

.profilepic {
  width: 15vw;
  border-radius: 50%;
  margin-top: 15px;
}

.profile_btns {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.profile-title {
  color: #A45836;
}

.profile-location {
  color: #423839;
}

.profilebg {
  position: initial;
  margin-top: 150px;
  width: 100vw;
}

.ProfileBG {
  background-image: url("./assets/profilebg.png");
  background-position: center;
  background-size: cover;
  width: 100%;
}

.profile_next-cities {
  color: #A45836;
  padding-left: 20px;
}

.profile_com-body,
.your-com {
  padding-left: 20px;
  padding-bottom: 20px;
}

/* COMPARE CITIES */

.comp-img {
  width: 40vw;
  height: 60vh;
  border-radius: 20px;
}

.compare-titles {
  color: #A45836;
  font-size: 30px;
  margin: 20px;
}

#twoCities {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

#twoCities span {
  color: #A45836;
  font-weight: 600;
}

.summary_comp {
  border-bottom: 1px solid #A45836;
  padding: 25px;
}

.cityOne,
.cityTwo {
  width: 45vw;
  margin-bottom: 40px;
  padding: 30px 10px;
  border-radius: 20px;
  background-color: #6d5d5e19;
  text-align: center;
}

.city-name_h1 {
  color: #A45836;
  padding-bottom: 10px;
}

.drop_one,
.drop_two {
  padding: 16px 14px;
  border-radius: 15px;
  background-color: #a4593650;
  font-weight: 600;
  margin: 10px 30px;
}

/* ERROR */

.errorpage {
  width: 100%;
}

.explore-pic, .exploretwo {
  width: 100%;
}